<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
            integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
            crossorigin="anonymous"
    >
    <title>home-task</title>
</head>
<body>
<div id="user-edit">
    <user-edit-form v-bind:user="userFields"></user-edit-form>
</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script
        src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous">
</script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous">
</script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous">
</script>
</body>
<script>
    const userForm = {
        template: `
        <form>
          <div class="form-group">
            <label for="userName">Name</label>
            <input type="text" class="form-control" id="userName" aria-describedby="userNameHelp" placeholder="Enter User Name" v-model="user.name">
            <small id="userNameHelp" class="form-text text-muted">{{ user.name }}</small>
          </div>
          <div class="form-group">
            <label for="userLastName">Last Name</label>
            <input type="text" class="form-control" id="userLastName" aria-describedby="userLastNameHelp" placeholder="Enter User Last Name" v-model="user.lastName">
            <small id="userLastNameHelp" class="form-text text-muted">{{ user.lastName }}</small>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" v-model="user.active">
              is active
            </label>
          </div>
          <div class="form-group">
            <label for="userUrl">Url</label>
            <input type="text" class="form-control" id="userUrl" aria-describedby="userUrlHelp" placeholder="Enter User url" v-model="user.url">
            <small id="userUrlHelp" class="form-text text-muted">{{ user.url }}</small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        `,
        props: {
            // user form
            user: {
                type: Array,
                required: true
            }
        }
    };
    const userEdit = new Vue({
        el: "#user-edit",
        components: {
            'user-edit-form': userForm
        },
        data: function () {
            return {
                userFields: ['name', 'lastName', 'active', 'url']
            }
        }
    });
</script>
</html>